@charset "utf-8";
/* CSS Document */
html, body{
	height: 100%;
	margin: 0;
}

a{
	text-decoration: none;
}


.background {
	position: fixed; 
	top: -400px; 
	left: auto;
	left: 50%;
    transform: translate(-50%, 0);
	min-width: 100%;
	min-height: 100%;
	z-index: -100;
}

.text{
	display: flex;
	flex-direction: column;
	padding: 100px;
    text-align: center;
}